{{#foreach posts}}

    <article role="article" itemscope itemtype="http://schema.org/Article">

        <header class="container postheader_ynote">
            <h1 class="posttitle_ynote" itemprop="headline">
                <a href="{{{url}}}" rel="bookmark">{{title}}</a>
            </h1> <!-- end of posttitle_ynote -->
            <time class="date_ynote" datetime="{{date format="DD MMM YYYY"}}" itemprop="datePublished">{{date format='DD MMM YYYY'}}</time>
            {{tags prefix="<i class='material-icons'>face</i>"}}
        </header> <!-- end of postheader_ynote -->

        <section class="container postcontent_ynote" itemprop="articleExcerpt">
            {{excerpt words="30"}}
        </section> <!-- end of postcontent_ynote -->

        <div class="posttags_ynote">
            {{#if tags}}
                Tags: {{tags separator=" | "}}
            {{/if}}
        </div> <!-- end of posttags_yonte -->

    </article> <!-- end of container -->

{{/foreach}}